.artist-card{
    background-color: #1F1F1F;
    width: 196px;
    height: 280px;
    border-radius: 10px;
    padding: 15px;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.artist-img{
    border-radius: 100px;
}

.artist-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.artist-name{
    font-size: 15px;
    color: #ffffff;
    margin: 15px 0px;
}

.artist-info p{
    font-size: 15px;
    color: #8C8C8C;
}