.artist-card{
    background-color: #1F1F1F;
    width: 12.25rem; 
    height: 17.5rem; 
    border-radius: 0.625rem; 
    padding: 0.9375rem; 
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-img{
    border-radius: 6.25rem; 
}

.artist-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.artist-name{
    font-size: 0.9375rem; 
    color: #ffffff;
    margin: 0.9375rem 0; 
}

.artist-info p{
    font-size: 0.9375rem; 
    color: #8C8C8C;
}